body {
    font-family: sans-serif;
    color: rgba(240, 191, 0, 94);
    background-color: #dfeffa;
    text-shadow: 1px 0 0 black
}

header {
    width: 630px;
    margin: 10px auto;
    text-align: center;
    border: 5px solid rgba(16, 101, 163, 64);
    border-radius: 10px;
    background-color: rgba(12, 144, 240, 94);
}

.container {
    width: 630px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    border: 5px solid rgba(16, 101, 163, 64);
    border-radius: 10px;
    background-color: rgba(12, 144, 240, 94);
}

.portraits {
    display: inline-block;
    width: 204px;
    height: 300px;
}

.landscapes {
    display: inline-block;
    vertical-align: middle;
    width: 306px;
    height: 300px;
    margin: 0px;
}

h4 {
    margin: 0;
}

#cusco {
    margin-top: 18px;
}

img {
    border: 2px solid rgba(16, 101, 163, 64);
    border-radius: 5px;
}

footer {
    color: black;
    text-shadow: none;
}