body {
    font-family: sans-serif;
    color: rgba(240, 191, 0, 94);
    background-color: #dfeffa;
    text-shadow: 1px 0 0 black
}

button {
    margin-bottom: 15px;
    width: 78px;
    height: 30px;
}

h4 {
    margin: 0;
}

img {
    border: 2px solid rgba(16, 101, 163, 64);
    border-radius: 5px;
}

footer {
    color: black;
    text-shadow: none;
}

.container {
    width: calc(100vw - 100px);
    min-width: 630px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    border: 5px solid rgba(16, 101, 163, 64);
    border-radius: 10px;
    background-color: rgba(12, 144, 240, 94);
}

.portraits { 
    display: inline-block;
    width: calc((100vw - 100px) * 0.31 + 4px);
    min-width: 204px;
    margin-bottom: 8px;
}

.portraits img {
    width: calc((100vw - 100px) * 0.31);
    min-width: 200px;
}

.landscapes {
    display: inline-block;
    vertical-align: top;
    width: calc((100vw - 100px) * 0.47 + 6);
    min-width: 306px;
    margin: 0px 0px 8px 0px;
}

.landscapes img {
    width: calc((100vw - 100px) * 0.47);
    min-width: 300px;
}

.popups {
    position: fixed;
    height: 60vh;
    width: 40vw;
    top: 20vh;
    left: 30vw;
    display: none;
}

#cusco {
    margin-top: 2vw;
}
